@import url('https://fonts.googleapis.com/css2?family=Dongle:wght@300&family=Maven+Pro&family=Open+Sans&family=Roboto+Condensed:ital,wght@0,400;1,700&family=Roboto+Mono:wght@100&family=Roboto:wght@100;400;700&family=Special+Elite&family=Vujahday+Script&display=swap');

body {
  margin: 0;
  font-family: "open-sans";
  height: 100vh;
  width: 100%;
  background-color: #F2F3F5;
 
}


